.beerSpecs {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}

.beerSpecs img {
    height: 500px;
}

.beerSpecs .content {
    width: 70%;
    color: grey;
}

.content h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.content .small {
    font-size: 20px;
}

.content hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    width: 70px;
    height: 5px;
    background-color: #FECE4B;
}

.content .voltage {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content .voltage span {
    padding-right: 15px;
}

.content .served {
    padding-top: 10px;
    padding-bottom: 10px;
}